In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales_dataset_comprehensive.csv', parse_dates=['Date'])

In [3]:
df.shape

(5000, 21)

In [4]:
df.info

<bound method DataFrame.info of                               Date     Product     Category   Region  \
0    2020-01-01 00:00:00.000000000  Headphones  Accessories     West
1    2020-01-01 07:00:33.846769353    Keyboard  Accessories  Central
2    2020-01-01 14:01:07.693538707     Scanner  Accessories     East
3    2020-01-01 21:01:41.540308061      Tablet  Electronics    South
4    2020-01-02 04:02:15.387077415     Monitor  Electronics  Central
...                            ...         ...          ...      ...
4995 2023-12-29 19:57:44.612922592       Phone  Electronics    North
4996 2023-12-30 02:58:18.459691936      Laptop  Electronics    North
4997 2023-12-30 09:58:52.306461296     Desktop  Electronics     West
4998 2023-12-30 16:59:26.153230640     Desktop  Electronics    North
4999 2023-12-31 00:00:00.000000000      Webcam  Accessories    North

          Salesperson    Customer_ID  Quantity  Unit_Price  Discount_Rate  \
0     Sales_Person_15  Customer_0577         2       79.22          0.068
1     Sales_Person_19  Customer_0581        15       46.69          0.074
2     Sales_Person_22  Customer_0952         4      182.63          0.063
3     Sales_Person_10  Customer_0009         2      355.84          0.041
4     Sales_Person_12  Customer_0236         2      283.01          0.206
...               ...            ...       ...         ...            ...
4995  Sales_Person_13  Customer_0856         3      537.06          0.083
4996  Sales_Person_09  Customer_0954         5      925.35          0.125
4997  Sales_Person_15  Customer_0444         3      547.97          0.078
4998  Sales_Person_07  Customer_0434         5      586.13          0.036
4999  Sales_Person_01  Customer_0228         2      103.05          0.161

      Subtotal  ...  Total_Amount  Customer_Age  Customer_Satisfaction  \
0       158.45  ...        147.74            20                    4.5
1       700.42  ...        648.43            31                    3.0
2       730.51  ...        684.30            37                    2.5
3       711.69  ...        682.49            57                    4.9
4       566.02  ...        449.40            70                    4.3
...        ...  ...           ...           ...                    ...
4995   1611.19  ...       1773.49            28                    4.9
4996   4626.77  ...       4857.80            64                    2.3
4997   1643.90  ...       1819.42            57                    3.3
4998   2930.64  ...       3390.68            52                    3.2
4999    206.10  ...        207.51            60                    2.8

      Payment_Method Order_Priority Month  Year  Quarter  Day_of_Week  \
0      Bank Transfer            Low     1  2020        1    Wednesday
1        Credit Card           High     1  2020        1    Wednesday
2      Bank Transfer           High     1  2020        1    Wednesday
3        Credit Card         Medium     1  2020        1    Wednesday
4      Bank Transfer         Medium     1  2020        1     Thursday
...              ...            ...   ...   ...      ...          ...
4995     Credit Card           High    12  2023        4       Friday
4996            Cash            Low    12  2023        4     Saturday
4997   Bank Transfer            Low    12  2023        4     Saturday
4998            Cash           High    12  2023        4     Saturday
4999      Debit Card         Medium    12  2023        4       Sunday

     Month_Name
0       January
1       January
2       January
3       January
4       January
...         ...
4995   December
4996   December
4997   December
4998   December
4999   December

[5000 rows x 21 columns]>

In [5]:
df.describe()

,Date,Quantity,Unit_Price,Discount_Rate,Subtotal,Discount_Amount,Total_Amount,Customer_Age,Customer_Satisfaction,Month,Year,Quarter
count,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2021-12-31 00:00:00,4.154600,319.059492,0.125717,1006.933690,126.557840,910.195740,46.136800,3.500420,6.518400,2021.498000,2.507400
min,2020-01-01 00:00:00,1.000000,20.020000,0.000000,22.940000,0.030000,17.710000,18.000000,2.000000,1.000000,2020.000000,1.000000
25%,2020-12-31 00:00:00,2.000000,86.195000,0.063000,303.007500,25.232500,270.295000,32.000000,2.800000,4.000000,2020.000000,2.000000
50%,2021-12-31 00:00:00,3.000000,199.990000,0.126000,590.110000,63.375000,533.765000,46.000000,3.500000,7.000000,2021.000000,3.000000
75%,2022-12-31 00:00:00,5.000000,507.700000,0.189000,1342.997500,154.460000,1197.235000,60.000000,4.300000,10.000000,2022.000000,4.000000
max,2023-12-31 00:00:00,19.000000,1199.870000,0.250000,5999.370000,1398.020000,6794.710000,74.000000,5.000000,12.000000,2023.000000,4.000000
std,NaN,3.627083,290.894627,0.072250,1044.067901,167.529015,959.750317,16.357029,0.867196,3.447846,1.118323,1.117047

In [6]:
df.columns

Index(['Date', 'Product', 'Category', 'Region', 'Salesperson', 'Customer_ID',
       'Quantity', 'Unit_Price', 'Discount_Rate', 'Subtotal',
       'Discount_Amount', 'Total_Amount', 'Customer_Age',
       'Customer_Satisfaction', 'Payment_Method', 'Order_Priority', 'Month',
       'Year', 'Quarter', 'Day_of_Week', 'Month_Name'],
      dtype='object')

In [7]:
list(df.columns)

['Date',
 'Product',
 'Category',
 'Region',
 'Salesperson',
 'Customer_ID',
 'Quantity',
 'Unit_Price',
 'Discount_Rate',
 'Subtotal',
 'Discount_Amount',
 'Total_Amount',
 'Customer_Age',
 'Customer_Satisfaction',
 'Payment_Method',
 'Order_Priority',
 'Month',
 'Year',
 'Quarter',
 'Day_of_Week',
 'Month_Name']

In [9]:
df.columns.to_list()

['Date',
 'Product',
 'Category',
 'Region',
 'Salesperson',
 'Customer_ID',
 'Quantity',
 'Unit_Price',
 'Discount_Rate',
 'Subtotal',
 'Discount_Amount',
 'Total_Amount',
 'Customer_Age',
 'Customer_Satisfaction',
 'Payment_Method',
 'Order_Priority',
 'Month',
 'Year',
 'Quarter',
 'Day_of_Week',
 'Month_Name']

In [8]:
df.isnull().sum()

Date                     0
Product                  0
Category                 0
Region                   0
Salesperson              0
Customer_ID              0
Quantity                 0
Unit_Price               0
Discount_Rate            0
Subtotal                 0
Discount_Amount          0
Total_Amount             0
Customer_Age             0
Customer_Satisfaction    0
Payment_Method           0
Order_Priority           0
Month                    0
Year                     0
Quarter                  0
Day_of_Week              0
Month_Name               0
dtype: int64

In [14]:
total_revenue = df['Total_Amount'].sum()
total_transactions = len(df)
avg_transaction = df['Total_Amount'].mean()
min_transaction = df['Total_Amount'].min()
max_transaction = df['Total_Amount'].max()
date_range = f"{df['Date'].min().strftime('%Y-%m-%d')} to {df['Date'].max().strftime('%Y-%m-%d')}"

In [15]:
total_revenue, total_transactions, avg_transaction, date_range, min_transaction, max_transaction

(np.float64(4550978.7),
 5000,
 np.float64(910.19574),
 '2020-01-01 to 2023-12-31',
 np.float64(17.71),
 np.float64(6794.71))