In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sales_dataset_comprehensive.csv', parse_dates=['Date'])

In [4]:
total_revenue = df['Total_Amount'].sum()
total_transactions = len(df)
avg_transaction = df['Total_Amount'].mean()
min_transaction = df['Total_Amount'].min()
max_transaction = df['Total_Amount'].max()
date_range = f"{df['Date'].min().strftime('%Y-%m-%d')} to {df['Date'].max().strftime('%Y-%m-%d')}"

In [8]:
total_revenue, total_transactions, avg_transaction, date_range, min_transaction, max_transaction

(np.float64(4550978.7),
 5000,
 np.float64(910.19574),
 '2020-01-01 to 2023-12-31',
 np.float64(17.71),
 np.float64(6794.71))